
<style>
.bs-callout-danger h3 {
  color: #d9534f;
}

</style>
<br /><br />

<div class="full" >
<%= render 'userdash/sidebar' %>

<div class="bs-callout bs-callout-danger well_our_two ">

   <div class="row">
     <div class="col-lg-9">
     <h2><a id="on_going_tester">On Going Tests </a></h2>
     <hr class="section-heading-spacer">
    </div>
       <div class="col-lg-9 col-sm-12">

          <% @tests.each do |t| %>
           <% if up_coming(t.start_date) == false %>
             <h3 class="section-heading"><%=  t.title %> Running From   <%=  t.start_date %> Till   <%=  t.end_date %></h3>
             <p class="lead">Test Requirements:<br /> <strong> <%= t.requirements %></strong><br />
               Instructions: <br /><% link = link_recorgnizer(t.instructions) %>  <%=t.instructions %><br /> <a href="<%= link %>" target="_blank">link</a>
               You will get a form to submit your feedback on <strong><%= t.review_date %></strong><br /><br />

             </p>

           <% end %>

         <% end %>

</div>
</div>
