<!-- Header -->
    <a name="about"></a>
    <div class="intro_header2">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>True Testar</h1>
                        <center><h3>
                          A crowdsourced testing for your products<br />
                          Get the real user experience and feedback
                        </h3></center>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           <% if current_user %>
                              <li>
                                  <!-- <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-thermometer-three-quarters"></i> <span class="network-name">Sign Up As A Tester</span></a> -->
                                  <!-- <%= link_to "Sign Up As Tester", {controller: "welcome", action: "index"},  class: "btn btn-default btn-lg"%> -->
                                    <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                                      <i class="fa fa-user"></i> View Your DashBoard
                                    <% end%>

                              </li>
                            <% else %>
                              <li>
                                  <!-- <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-thermometer-three-quarters"></i> <span class="network-name">Sign Up As A Tester</span></a> -->
                                  <!-- <%= link_to "Sign Up As Tester", {controller: "welcome", action: "index"},  class: "btn btn-default btn-lg"%> -->
                                    <%= link_to new_user_registration_path, class: "btn btn-default btn-lg" do %>
                                      <i class="fa fa-user-plus"></i> Sign Up As A Tester
                                    <% end %>

                              </li>
                              <li>
                                <a href="http://localhost:8080/#/" class="btn btn-default btn-lg"><i class="fa fa-thermometer-three-quarters"></i> <span class="network-name">Sign Up As A Tester</span></a>
                                  <!-- <%= link_to root_path, class: "btn btn-default btn-lg" do %>
                                    <i class="fa fa-thermometer-three-quarters fa-fw"></i> Create A Test
                                  <% end %> -->
                              </li>

                            <% end %>

                            <!-- <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                            <!-- <% if current_user %>
                            <h1>Welcome <%= current_user.email %> </h1>
                            <% else %>
                             <% link_to :root_path %>
                            <% end %> -->

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <div class="container">
           <div class="row"></div>
           <h1 class="center shade_three_on">What we do</h1>
               <div class="row center">
                   <div class="col-lg-4 col-sm-6">
                       <hr class="shade_one">
                       <div class="clearfix"></div>
                       <h2 class="section-heading">Localized testing</h2>
                       <i class="fa fa-globe shade_three_on" style="font-size:120px;"></i><br>
                       <p class="lead">Ensure your product is adaptable to the target market.Equates to a market research and gives early adopters from your target market</p>

                   </div>
                   <div class="col-lg-4 col-sm-6">
                       <hr class="shade_one">
                       <div class="clearfix"></div>
                       <h2 class="section-heading">Compatibility testing</h2>
                      <i class="fa fa-link shade_three_on" style="font-size:120px;"></i><br>
                       <p class="lead">Devices are growing more than ever. With our community you test your software on different range of devices and OS platforms, solving the issue with fragmentation</p>
                   </div>
                   <center>
                   <div class="col-lg-4 col-sm-6">
                       <hr class="shade_one">
                       <div class="clearfix"></div>
                       <h2 class="section-heading">Usability testing</h2>

                       <!-- <img class="img-responsive" src="<%= asset_path( 'usability.png' ) %>" alt=""> -->
                       <i class="fa fa-desktop shade_three_on" style="font-size:120px;"></i>
                       <p class="lead">It's hard to find real users for new products. Our curated community has a wide range of customers who provide feedback on how they feel about your product.</p>

                   </div>
                 </center>
               </div>

           </div>
           <!-- /.container -->




      <div class="shade_three">
        <div class="container">
          <h1 class="center white_moon">How this works</h1>
          <div class="row center">
             <div class="col-lg-4 col-sm-6 ">
                 <hr class="center">
                 <div class="clearfix"></div>
                 <h2 class="section-heading white_moon">Sign up as a tester</h2>
                 <i class="fa fa-user-plus white_moon" style="font-size:120px;"></i><br>
                 <p class="lead white_moon">A tester signs up to take a test, stating their interestes and we recommend tests to them</p>
                 <!-- <p>
                   <% if current_user %>
                     <p>
                       <%= link_to new_user_registration_path, class: "btn btn-default btn-lg" do %>
                         <i class="fa fa-user"></i> View Your Dashboard
                       <% end %>
                     </p>
                   <% else %>
                       <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                         <i class="fa fa-user-plus"></i> Sign Up As A Tester
                       <% end %>
                   <% end %>
                </p> -->
             </div>

           <div class="col-lg-4 col-sm-6">
               <hr class="shade_one">
               <div class="clearfix"></div>
               <h2 class="section-heading white_moon">Test products</h2>
              <i class="fa fa-flag white_moon" style="font-size:120px;"></i><br>
               <p class="lead white_moon">Tester tests products and provides feedback according to the task specified</p>
               <!-- <p>
                 <% if current_user %>
                   <p>
                     <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                       <i class="fa fa-flask"></i> View On Going Tests
                     <% end %>
                   </p>
                 <% else %>
                     <%= link_to new_user_registration_path, class: "btn btn-default btn-lg" do %>
                       <i class="fa fa-flask"></i> Test A Product
                     <% end %>
                 <% end %>
              </p> -->
           </div>
           <center>
           <div class="col-lg-4 col-sm-6">
               <hr class="shade_one">
               <div class="clearfix"></div>
               <h2 class="section-heading white_moon">Give your review</h2>

               <!-- <img class="img-responsive" src="<%= asset_path( 'usability.png' ) %>" alt=""> -->
               <i class="fa fa-desktop white_moon" style="font-size:120px;"></i>
               <p class="lead white_moon">According to the task given fill in the form and submit your review to get points</p>
               <!-- <p>
                 <% if current_user %>
                   <p>
                     <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                       <i class="fa fa-building"></i> View Company DashBoard
                     <% end %>
                   </p>
                 <% else %>
                     <%= link_to new_user_registration_path, class: "btn btn-default btn-lg" do %>
                       <i class="fa fa-building"></i> Register As A Company
                     <% end %>
                 <% end %>
              </p> -->

           </div>
             </center>
            </div>
          </div>               <!-- /.container -->
      </div>




      <div class="container">
             <div class="row"></div>
             <h1 class="center shade_three_on">Are you a product owner who needs testing? This is why you should use True Testar</h1>
                 <div class="row center">
                     <div class="col-lg-3 col-sm-6">
                         <hr class="shade_one">
                         <div class="clearfix"></div>
                         <h2 class="section-heading">Agility</h2>
                         <i class="fa fa-align-center shade_three_on" style="font-size:120px;"></i><br>
                         <p class="lead">Ensure your product is adaptable to the target market.Equates to a market research and gives early adopters from your target market</p>

                     </div>
                     <div class="col-lg-3 col-sm-6">
                         <hr class="shade_one">
                         <div class="clearfix"></div>
                         <h2 class="section-heading">Platforms</h2>
                        <i class="fa fa-renren shade_three_on" style="font-size:120px;"></i><br>
                         <p class="lead">Devices are growing more than ever. With our community you test your software on different range of devices and OS platforms, solving the issue with fragmentation</p>
                     </div>
                     <center>
                     <div class="col-lg-3 col-sm-6">
                         <hr class="shade_one">
                         <div class="clearfix"></div>
                         <h2 class="section-heading">Fast</h2>

                         <!-- <img class="img-responsive" src="<%= asset_path( 'usability.png' ) %>" alt=""> -->
                         <i class="fa fa-fighter-jet shade_three_on" style="font-size:120px;"></i>
                         <p class="lead">It's hard to find real users for new products. Our curated community has a wide range of customers who provide feedback on how they feel about your product.</p>

                     </div>

                     <div class="col-lg-3 col-sm-6">
                         <hr class="shade_one">
                         <div class="clearfix"></div>
                         <h2 class="section-heading">Experts</h2>

                         <!-- <img class="img-responsive" src="<%= asset_path( 'usability.png' ) %>" alt=""> -->
                         <i class="fa fa-user-md shade_three_on" style="font-size:120px;"></i>
                         <p class="lead">We have a wide range of experts in our community ready give their opinion on your product</p>

                     </div>

                   </center>
                 </div>

             </div>
             <!-- /.container -->




    <div class="content-section-b shade_three">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading white_moon">Usability, Functionality and Market Feedback</h2>
                    <p class="lead white_moon">We deliver genuine opinion and feedback from real human beings who have interaced with your product and reviewed it</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= asset_path( 'usabilty.jpg' ) %>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a ">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Instant<br>Receive Feedback In Days</h2>
                    <p class="lead">We give you value for your money. Well formatted test results with useful insights that can help you achieve your desired results in just a matter of a few days </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="<%= asset_path( 'feedbackyeah.png' )%>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- /.content-section-a -->

    <div class="content-section-b shade_three">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading white_moon">Crowd-Sourced Testing<br /> Massive Testing Community</h2>
                    <p class="lead white_moon">Tap into our vast and well diverse community to understand the way customers see your product and take decisions on their feedback</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= asset_path( 'crowd.jpg' ) %>" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

        <!-- <script src="https://cdn.smooch.io/smooch.min.js"></script>
        <script>
          Smooch.init({ appToken: 'dh3jt17nxehqty9z4hdrdxcjn' });
        </script> -->
    </div>
    <!-- /.content-section-b -->


      <!-- Contact section-->
