<a name="about"></a>
   <div class="container-fluid">
   <div class="intro_header2 full image-responsive">
       <div class="row">
       <div class="col-lg-12">
       <div class="container-fluid position">
       <span class="message1">Crowdsorced testing platform</span>
       <p class="message2">Real customers.Real environment</p>
       <hr class="intro-divider">
                       <ul class="list-inline intro-social-buttons">
                          <% if user_signed_in? || testowner_signed_in? %>
                             <% if user_signed_in? %>
                             <li>
                                   <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                                     <i class="fa fa-user"></i> View Your DashBoard
                                   <% end%>

                             </li>
                               <% elsif testowner_signed_in? %>
                               <%= link_to testowners_profile_path, class: "btn btn-default btn-lg" do %>
                                 <i class="fa fa-user"></i> View Company Dashboard
                               <% end%>
                               <% end %>
                           <% else %>
                             <li>
                                   <%= link_to new_user_registration_path, class: "btn btn-default btn-lg", style: "font-size:20px;color:#ff6200;font-family: 'NTR', sans-serif;" do %>
                                     <i class="fa fa-user-plus"></i> Sign Up As A Tester
                                   <% end %>

                             </li>
                             <li>

                                 <%= link_to new_testowner_registration_path, class: "btn btn-default btn-lg", style: "font-size:20px;color:#ff6200;font-family: 'NTR', sans-serif;" do %>
                                   <i class="fa fa-user-plus"></i> Sign Up As A Company
                                 <% end %>
                             </li>

                           <% end %>

                       </ul>
                       </div>
                       </div>
       </div>
       <!-- /.container -->

   </div>
   <!-- /.intro-header -->

   <!-- Page Content -->
   <div class="container-fluid">
    <p class="message2 text-center"><br><br><br>Get started today</p>
     <div class="row text-centered position1">

     <div class="col-lg-1"></div>
       <div class="col-lg-3 col-md-3 col-sm-3">

           <p class="message2">Speed time taken to lauch product.True Testar community consists of hundreds of software testing experts.We verify their skills, passion, and devices so your team can move fast without breaking things.</p>


       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
         <span><img src="<%= asset_path( 'works.jpeg' ) %>" class="img-responsive" width="800" height="800"/></span>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-3">

           <p class="message2">As soon as the test cycle ends, we send you a fully prioritized report consisting of all uncovered bugs with every detail a developer would need to identify, reproduce, and fix an issue.</p>

       </div>
       <div class="col-lg-1"></div>
     </div>
   </div>






          <!-- /.container -->
         <div class="row banner2" >
           <p class="message2">True Testar Services</p>
             <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-4 col-md-4 col-sm-4 " style="margin-top:5%">
                   <div class="clearfix"></div>
                     <p class="message2" ><b>Localization</b><br><span><img src="<%= asset_path( 'localized.png' ) %>" class="img-circle img-responsive" width="100" height="100"/></span>
                       Test anything, anywhere, anytime in Africa as we have testers spread all over the continent</p>

               </div>
               <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5%">
                   <div class="clearfix"></div>
                     <p class="message2"><b>Compatibility</b><br><span><img src="<%= asset_path( 'compatibility.png' ) %>" class="img-circle img-responsive" width="100" height="100"/></span>Our community is large and diverse thus we accomodate testing across all platforms</p>

               </div>
               <div class="col-lg-4"></div>
             </div>
              <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-4 col-md-4 col-sm-4 " style="margin-top:5%">
                   <div class="clearfix"></div>
                     <p class="message2"><b>Usability</b><br><span><img src="<%= asset_path( 'usability.png' ) %>" class="img-circle img-responsive" width="100" height="100"/></span> Our experts and testers provide actionable feedback that matches feedback from actual users</p>

               </div>
               <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5%">
                   <div class="clearfix"></div>
                     <p class="message2"><b>Usability</b><br><span><img src="<%= asset_path( 'usability.png' ) %>" class="img-circle img-responsive" width="100" height="100"/></span> Our experts and testers provide actionable feedback that matches feedback from actual users</p>

               </div>
               <div class="col-lg-4"></div>
             </div>

         </div>







   </div>
