<!-- Header -->
    <a name="about"></a>
    <div class="intro_header2">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>True Testar</h1>
                        <h3>
                          A Crowdsourced Testing For Your Products.<br />
                        </h3>
                        <h4>
                          get the real user experience and feedback
                        </h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           <% if current_user %>
                              <li>
                                  <!-- <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-thermometer-three-quarters"></i> <span class="network-name">Sign Up As A Tester</span></a> -->
                                  <!-- <%= link_to "Sign Up As Tester", {controller: "welcome", action: "index"},  class: "btn btn-default btn-lg"%> -->
                                    <%= link_to userdash_index_path, class: "btn btn-default btn-lg" do %>
                                      <i class="fa fa-user"></i> View Your DashBoard
                                    <% end%>

                              </li>
                            <% else %>
                              <li>
                                  <!-- <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-thermometer-three-quarters"></i> <span class="network-name">Sign Up As A Tester</span></a> -->
                                  <!-- <%= link_to "Sign Up As Tester", {controller: "welcome", action: "index"},  class: "btn btn-default btn-lg"%> -->
                                    <%= link_to new_user_registration_path, class: "btn btn-default btn-lg" do %>
                                      <i class="fa fa-flask"></i> Sign Up As A Tester
                                    <% end %>

                              </li>
                              <li>
                                  <%= link_to root_path, class: "btn btn-default btn-lg" do %>
                                    <i class="fa fa-github fa-fw"></i> Create A Test
                                  <% end %>
                              </li>

                            <% end %>

                            <!-- <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                            <!-- <% if current_user %>
                            <h1>Welcome <%= current_user.email %> </h1>
                            <% else %>
                             <% link_to :root_path %>
                            <% end %> -->

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a name="services"></a>
    <div class="content-section-a">

        <div class="container">
          <center><h2 class="section-heading">What We Do</h2></center>
            <div class="row">
                <center>
                <div class="col-sx-3 col-sm-4">
                  <hr >
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Localized Testing</h2><br />
                    <img class="img-responsive" src="<%= asset_path( 'testpix1.jpg' ) %>" alt=""><br />
                    <p class="lead">
                        Ensure your product is adabtable to the target market. Equates to a market research
                        and gives early adaptors from your target market
                    </p>
                </div>
                </center>
                  <center>
                <div class="col-sx-6  col-sm-4">
                  <hr >
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Compatibility Testing</h2><br />
                    <img class="img-responsive" src="<%= asset_path( 'testpix4.png' ) %>" alt=""><br />
                    <p class="lead">
                        The device and software indutry is fast growing. With our well selected community, you get to test
                        your software on different range of devices and OS platforms, solving the issue with fragmentation
                    </p>
                </div>
                </center>
                <center>
                <div class="col-sx-3 col-sm-4">
                  <hr>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Usability Testing</h2>
                    <img class="img-responsive" src="<%= asset_path( 'testpix6.png' ) %>" alt=""><br />
                    <p class="lead">
                      It's hard to find real users for your products. Our curated community has a wide range of customers
                      who will provide you with actionable feedback on how they feel about your product
                    </p>
                </div>
                </center>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="services"></a>
      <div class="content-section-a">

          <div class="container">
            <center><h2 class="section-heading">How This Works</h2></center>
              <div class="row">
                <center>
                  <div class="col-sx-3 col-sm-4">
                    <hr >
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Sign Up As A Tester</h2>
                      <img class="img-responsive" src="<%= asset_path( 'signup.png' ) %>" alt=""><br />
                      <p class="lead">
                          A Tester signs up and creates a profile according to their interests.
                          We suggest test to you on your dashboard according to what you chose
                      </p>
                  </div>
                </center>
                  <center>
                    <div class="col-sx-6  col-sm-4">
                      <hr >
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Test Products</h2>
                        <img class="img-responsive" src="<%= asset_path( 'testproduct2.png' ) %>" alt="" width="180", height="100"><br />
                        <p class="lead">
                            Tester tests product and provides feedback according to the task specified
                        </p>
                    </div>
                </center>
                  <center>
                  <div class="col-sx-3 col-sm-4">
                    <center><hr ></center>
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Receive A Report</h2>
                      <img class="img-responsive" src="<%= asset_path( 'report.png' ) %>" alt="" width="190", height="100"><br />
                      <p class="lead">
                        We aggregate all feedback and provide you a detailed report at a fee
                      </p>
                  </div>
                </center>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-a -->

    <a name="services"></a>
      <div class="content-section-a">

          <div class="container">
            <center><h2 class="section-heading">
              Are you a product owner who needs testing? This is why you should use True Testar
            </h2></center>
              <div class="row">
                <center>
                  <div class="col-sx-3 col-sm-3">
                    <hr >
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Agility</h2>
                      <img class="img-responsive" src="<%= asset_path( 'testpix3.png' ) %>" alt="" width="180", height="100"><br />
                      <center><p class="lead">
                          Drive continuous improvement on product
                      </p>
                  </div>
                  </center>
                  <center>
                  <div class="col-sx-6  col-sm-3">
                    <hr >
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Platforms</h2>
                      <img class="img-responsive" src="<%= asset_path( 'community.png' ) %>" alt="" width="180", height="100"><br />
                      <p class="lead">
                          Vast and diverse community and environments
                      </p>
                  </div>
                </center>

                  <center>
                  <div class="col-sx-6 col-sm-3">
                  <hr >
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Fast</h2>
                      <img class="img-responsive" src="<%= asset_path( 'testpix5.png' ) %>" alt="" width="190", height="100"><br />
                      <p class="lead">
                        Perform tasks quickly and effectively
                      </p>
                  </div>
                </center>

                <center>
                <div class="col-sx-3 col-sm-3">
                <hr >
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Experts</h2><br />
                    <img class="img-responsive" src="<%= asset_path( 'testpix7.jpg' ) %>" alt="" width="190", height="100"><br />
                    <p class="lead">
                      Access to our curated community of testars
                    </p>
                </div>
              </center>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-a -->
