


<br /><br />
    <%= render 'userdash/sidebar' %>


<div class="bs-callout bs-callout-danger well_our_two">
  <div class="container">
    <div class="col-lg-9 col-lg-offset-0 col-sm-12">
      <span class="pull-right">
        <%= link_to 'Add New Experience', new_user_experience_path(@user), class: "btn btn-primary btn-danger"%>
      </span>
      <h2>Expertise</h2>
      <% @experiences.each do |experience| %>
          <div class="well">
            Field: <%= experience.field %> <br />
            Descritption: <%= experience.description %> <br />
            <div class="panel-footer">
                   <span class="pull-right">
                     <%= link_to edit_user_experience_path(@user, experience), class:"btn btn-sm btn-warning"  do %>
                       <i class="glyphicon glyphicon-edit"></i></a>
                     <% end %>
                     <%= link_to "X", [@user, experience], method: :delete, data:  {confirm: 'Are you sure?'}, class:"btn btn-sm btn-danger" %>
                   </span><br />
              </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
