
<div class="container">
  <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-6 well well-sm">
            <legend><i class="glyphicons glyphicons-display"></i>Create A test</legend>
            <div class="row">
                <%= form_for [@context, @test] do |f| %>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :title %>
                    <%= f.text_field :title, class:"form-control", placeholder:"Test Title" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :requirements %>
                    <%= f.select     :requirements,  [
                                                        'Android Device',
                                                        'Apple   Device',
                                                        'windows Device',
                                                        'Any Browser',
                                                        'Safari Browser',
                                                        'Chrome Browser',
                                                        'Firefox Browser'
                                                       ],  class: "form-control" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      "Location of testers" %>
                    <%= f.select     :location,  [
                                                        'The Whole Of Ghana',
                                                        'Greater Accra Region',
                                                        'Ashanti Region',
                                                        'Eastern Region',
                                                        'Northern Region',
                                                        'Central Region',
                                                        'Western Region',
                                                        'Upper East Region',
                                                        'Upper West Region',
                                                        'Brong Ahafo Region',
                                                        'Volta Region'
                                                       ],  class: "form-control" %>
                  </div>

                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :number_of_testers %>
                    <%= f.select     :number_of_testers,[ 1,
                                                         10,
                                                         20,
                                                         50,
                                                         70,
                                                         100,
                                                       ],  class: "form-control" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :instructions %>
                    <%= f.text_area  :instructions, class: "form-control", placeholder:"Test Instructions" %>

                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :start_date %>
                    <%= f.date_select :start_date, class:"form-control" , placeholder:"Date Should starts" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label       :end_date %>
                    <%= f.date_select :end_date, class:"form-control datepicker", placeholder:"Date Test should end" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                    <%= f.label      :review_date %>
                    <%= f.date_select :review_date, class:"form-control", placeholder:"Date for Test Review" %>
                  </div>
                  <div class="form-group col-xs-12 col-md-12">
                  <%= f.submit class: "btn btn-primary btn-danger" %>
                 </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
