<br /><br />
<%= render 'companies/dasher' %>
<div class="bs-callout bs-callout-danger well_our">
  <div class="container">
    <div class="col-lg-9 col-lg-offset-0 col-sm-12">
      <span class="pull-right">
        <%= link_to 'Create A Test', new_company_test_path(@company), class: "btn btn-primary btn-danger"%>
      </span>
          <h1>Your tests</h1>

          <% @tests.each do |t| %>
              <div class="well">
                Test Name: <%= t.title %> <br />
                Test Requirements: <%= t.requirements %> <br />
                Test Instructions: <%= t.instructions %> <br />
                Start Date: <%= t.start_date %> <br />
                End Date: <%= t.end_date %> <br />
                Review Date: <%= t.review_date %> <br />
                <div class="panel-footer">
                       <span class="pull-right">
                         <%= link_to edit_company_test_path(@company, t), class:"btn btn-sm btn-warning"  do %>
                           <i class="glyphicon glyphicon-edit"></i></a>
                         <% end %>
                         <%= link_to "X", [@company, t], method: :delete, data:  {confirm: 'Are you sure?'}, class:"btn btn-sm btn-danger" %>
                       </span><br />
                  </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>


<%= link_to "Logout",  destroy_company_session_path, :method => :delete %>
