<!DOCTYPE html>
<html>
  <head>
    <title>True Testar</title>
    <%= csrf_meta_tags %>
	<link href="https://blackrockdigital.github.io/startbootstrap-landing-page/css/landing-page.css" rel="stylesheet">

  <!-- <script src="https://cdn.smooch.io/smooch.min.js"></script><script>
    Smooch.init({ appToken: 'dh3jt17nxehqty9z4hdrdxcjn' });
 </script> -->
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  		<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <div>
              <!-- <i class="fa fa-twitter-square" aria-hidden="true"></i><%= link_to "True testar",  root_path,  class:"navbar-brand topnav" %> -->
              <%= link_to root_path, class:"navbar-brand topnav" do %>
                 <span><img src="<%= asset_path( 'logoreal.png' ) %>" width="35px" height="25px"/></span>
                 True Testar
              <% end%>
            </div>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if current_user %>
                      <li>
                            <%= link_to "Log out", destroy_user_session_path, :method => :delete, class:"navbar-brand topnav" %>
                      </li>
                    <% else %>
                      <li>

                            <%= link_to "Log in", new_user_session_path,   class:"navbar-brand topnav" %>
                      </li>
                    <% end %>
                    <!-- <li>
                        <%= link_to "Contact", contact_index_path, class:"navbar-brand topnav" %>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br /><br />


    <%= yield %>

    <footer class="bs-footer" role="contentinfo">
            <div class="container shade_one_on">
              <p>truetestar.com © 2017 <a href="https://twitter.com/truetestar" target="_blank"> <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter </a> |
                                       <a href="https://www.facebook.com/truetestar/?fref=ts" target="_blank"> <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook </a>
                                       <!-- <a href="https://guarded-cliffs-20356.herokuapp.com/userdash/index" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i> Youtube </a> | -->
            </div>
          <style>
          ._fancybar{margin-top:50px !important;z-index: 5}
          </style>
          <script async="" type="text/javascript" src="//cdn.fancybar.net/ac/fancybar.js?zoneid=1502&amp;serve=C6ADVKE&amp;placement=danstools" id="_fancybar_js"></script>

  </footer>



        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://cdn.smooch.io/smooch.min.js"></script><script>
          Smooch.init({ appToken: 'dh3jt17nxehqty9z4hdrdxcjn' });
       </script>
  </body>
</html>
